
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="typeScriptApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angularmaterial")
    @Scripts.Render("~/bundles/services")
    @Scripts.Render("~/bundles/controllers")    
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/components")
    @Scripts.Render("~/bundles/directives")
</body>
</html>
